<app-egzamin></app-egzamin>
<!--<h1>My first Angular Project</h1>
Imię: <br>
<input [(ngModel)]="firstName" type="text"> <br>
Nazwisko: <br>
<input [(ngModel)]="lastName" type="text"> <br>
Wiek: <br>
<input [(ngModel)]="age" type="number"> <br>
<input [(ngModel)]="acceptance" type="checkbox"> Akceptuje warunki <br>  
<button (click)="verify()">Weryfikuj dane</button>

<div *ngIf="personalData != ''">
  Twoje dane osobowe: 
  {{personalData}} 
</div>

<div *ngIf="isError" style="color: red;">
  Należy zaakceptować warunki!
</div>-->
